model-viewer {
  width: 300px;
  height: 300px;
}

html, body {
    height: 100%;
    font-family: 'Calibri', sans-serif;
    color: 326861
    ;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .pubentry {
    display: block;
    overflow: hidden;
    margin-top: 6px;
    margin-bottom: 12px;
  }
  .pubthumb {
    width: 60px;
    border: 1px solid #444;
    float: left;
    margin-right: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  
  a {
    color: #326861;
    font-weight: 400;
    text-decoration: none;
  }
  
  a:hover {
    color: #326861;
    font-weight: 400;
  }
  
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  #header {
    width: 100%;
    height: 500px;
    font-weight: 300;
    color: white;
    margin-bottom: 40px;
  }

  #headerblob {
    position: absolute;
    left: 10%;
    top: 25px;
    width: 70%;
  }
  #headertext {
    font-size: 26px;
    font-weight: 400;
    margin-top: 70px;
    margin-left: 220px;
  }
  .imgme {
    border: 3px solid white;
    /* box-shadow: #AAA 0px 0px 4px 0px; */
    float: left;
  }
  #htname {
    font-size: 50px;
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    margin-top: -10px;
  }
  #htdesc {
    font-size: 20px;
    font-weight: 500;
    color: black;
  }
  #htem {
    font-size: 18px;
    font-weight: 300;
    color: white;
  }

  #topnav {
    position: absolute;
    top: 0;
    right: 100px;
    padding: 25px 10px 5px 10px;
    margin: 0px;
  }
  #topnav a {
    color: white;
  }
  #topnav a:hover {
    text-decoration: none;
  }

  @media (max-width: 750px) {
    #headerblob {
      text-align: center;
      position: absolute;
      top: 25px;
      left: 0;
      width: 100%;
    }
    .imgme {
      float: none;
    }
    #headertext {
      margin: 20px 0;
    }
    #htname {
      font-size: 0px;
    }
    #htdesc {
      font-size: 0px;
    }
    #htem {
    font-size: 0px;
    }
    #topnav {
      display: none;
      /*position: absolute;
      top: 0;
      right: 5px;
      padding: 25px 10px 5px 10px;
      margin: 0px; */
    }
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
  #topnav ul {
    font-size: 26px;
  }
  .svgico {
    display: inline-block;
  }

  .thigh {
    color: steelblue;
  }
  .quote {
    /*color: #777;*/
    color: black;
    text-align: left;
    font-weight: 300;
    padding: 40px 0 20px;
  }
  .quote blockquote {
    font-size: 21px;
    background-color: #f3f1f1;
  }

  h2 {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    padding: 40px 0px 60px;
  }

  hr.soft {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    padding: 0;
    margin: 0;
  }

  .subtitle {
    color: black;
    text-align: left;
    font-weight: 600;
    font-size: 40px;
    background-color: white;
    padding-top: 40px;
  }

  .subtitle blockquote {
    font-size: 22px;
    font-weight: 300;
    background-color: white;
    padding: 5px 10px 5px;
  }

  .articles {
    background-color: #fafafa;
  }

  .article__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1.875rem;
  }

  @media (min-width: 40em) {
    .article__grid {
      -ms-grid-columns: (1fr)[2];
          grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 64em) {
    .article__grid {
      -ms-grid-columns: (1fr)[4];
          grid-template-columns: repeat(4, 1fr);
    }
  }

  .article__item {
    border-radius: 0.3125rem;
    overflow: hidden;
    background-color: white;
    -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }

  .article__item:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }

  .article__image {
    height: 12.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .article__text {
    padding: 1.875rem 1.875rem 2.5rem 1.875rem;
    color: #9698a6;
  }

  @media (min-width: 40em) {
    .article__text {
      padding: 1.875rem 1.5625rem;
    }
  }

  .article__author {
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
  }

  .article__title {
    font-size: 2.2rem;
    line-height: 1.2;
    color: #2d314d;
    margin-bottom: 0.5rem;
  }

  .article__description {
    font-size: 1.6rem;
  }

  .footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  figure {
    padding: 4px;
    margin: auto;
  }
  
  figcaption {
    background-color: white;
    color: black;
    font-size: 14px;
    padding: 2px;
    text-align: left;
  }

  code {
    font-family: Consolas,"monaco";
    color: black;
    background-color: #f1f1f1;
    padding: 0px;
    font-size: 90%;
  }

  pre {
    font-family: Consolas,"monaco";
    color: black;
    background-color: #f1f1f1;
    padding: 0px;
    font-size: 60%;
  }

  .column {
    float: left;
  }

  .left {
    width: 15%;
    margin: 3px;
    padding: 2px 10px;
  }
  
  .right {
    width: 12%;
    margin: 3px;
    padding: 2px 10px;
  }
  
  .middle {
    width: 71%;
    margin: 3px;
    padding: 2px 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .column_home {
    float: left;
  }

  .left_home {
    width: 25%;
    margin: 3px;
    padding: 2px 10px;
  }
  
  .right_home {
    width: 70%;
    margin: 3px;
    padding: 2px 10px;
  }

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 450px;
    background-color: lightgray;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -50px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 10%;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}